body{
    padding: 20px;
   
}

form{
    text-align: center;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 30px;
    
    border-bottom: 2px solid rgb(44,90,44);
    width: 500px;
    
}
svg{
    height: 40px;
    width: 40px;
}
.submit{
    background-color: transparent;
    border: none;
    margin-left: 20px;
}
.search-box{
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 20px;
    color: gray;
}
.imagediv{
    position: relative;
    
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.img{
    width: 400px;
    height: 400px;   
}

.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0,0.6);
    padding: 10px;
    width: 380px;
    position: absolute;
    bottom: 4px;
    opacity: 0;
}
.profilediv{
    color: white;
    
    font-size: 20px;
}
.profileimg{
    border-radius: 50%;
}

.imagediv:hover .maindiv{
    opacity: 1;
}
@media(max-width:800px){
    .form{
        width: 180px;
    }
}
